body{
    text-align: center;
}
#main{
    background-color: brown;
    height: 1000px;
    width: 1000px;
}
#author{
    margin-top: 30px;
    margin-bottom: 30px;
}
#image{
    height: 400px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 10px solid rebeccapurple
}
#aditional{
    color: black;
}
#parr{
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid blue;
}
footer{
    background-color: blue;
}

