#elemento {
  width: 100%;
  height: 100%;
  animation: mi-animacion 5s infinite;
}

img{
    animation: circulo 5s infinite;
}
@keyframes circulo{
    0%{
        border-radius: 0%;
    }
    15%{
        border-radius: 15%;
        transform: translateX(15px);
    }
    30%{
        border-radius: 30%;
        transform: translateX(-30px);
    }
    45%{
        border-radius: 45%;
        transform: translateX(75px);
    }
    60%{
        border-radius: 60%;
        transform: translateX(-45px);
    }
    75%{
        border-radius: 75%;
        transform: translateX(45px);
    }
    90%{
        border-radius: 90%;
        transform: translateY(-60px);
    }

    100%{
        border-radius: 100%;
        transform: translate(62px,100px);
    }
}
@keyframes mi-animacion{
    0%{
        background-image: brown;
    }
    50%{
        background-color: cadetblue;
    }
    100%{
        background-color: violet;
    }
}


html,body{
    height: 100%;
}