html {
  margin: 0;
  height: 100vh;
}
header {
  background-color: rgb(235, 218, 196);
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  margin: 0;
  text-align: center;
  background-color: rgb(199, 235, 133);
}

nav {
  background-color: rgba(30, 29, 34, 0.952);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
nav a {
  color: white;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: rgb(102, 201, 115);
  cursor: pointer;
}

footer {
  background-color: rgba(30, 29, 34, 0.952);
  height: 100px;
}

#profileImageRounded {
  border: 5px solid #666;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
#banner {
  width: 768px;
  height: 400px;
  border-radius: 50px;
}
#divMain{
    display: flex;
    justify-content: center;
}
.divAlign {
  font-size: 20px;
}
#divDescription {
  float: left;
  background-color: rgb(235, 218, 196);
  width: 500px;
}
#divPhases {
  font-family: fantasy;
  font-size: xx-large;
  background-color: rgb(235, 218, 196);
  border-radius: 20px;
  width: 500px;
}
