
:root{
  --colorBotones: rgba(247, 247, 247, 0.925);
  --horizontal: row;
  --vertical: column;
  --caja-flexible: flex;
  --null:none;
  --text-small: xx-small;
  --icono-position: -30px !important;
}


* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
  display: var(--caja-flexible);
  flex-direction: var(--horizontal);
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}
nav {
  display: var(--caja-flexible);
  flex-direction: var(--horizontal);
}
a {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 13px;
  text-decoration: var(--null);
  color: rgba(0, 0, 0, 0.87);
}
#icono-header {
  margin-top: 7px;
  width: 24px;
}
#boton-header {
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #4285f4;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  border-radius: 4px;
  width: 130px;
  height: 33px;
  outline: var(--null);
  background: #4285f4;
  color: white;
}

#main {
  display: var(--caja-flexible);
  flex-direction: var(--vertical);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#logo-google {
  margin-top: 30px;
}

#divBuscador {
  display: var(--caja-flexible);
  flex-wrap: wrap;
  border: 1px solid rgba(223, 223, 223, 0.87);
  border-radius: 20px;
  margin-top: 20px;
  width: 50%;
}

#icono-buscador-lupa {
  margin-left: var(--icono-position);
  width: 20px;
  height: 20px;
  margin: 10px;
  flex-grow: 1;
}
#icono-buscador-micro {
  margin-right: var(--icono-position);
  width: 20px;
  height: 20px;
  margin: 10px;
  flex-grow: 1;
}

input {
  border: var(--null);
  flex-grow: 2;
}
input:hover {
  border: var(--null);
}
input:focus {
  outline: var(--null);
}

#botones-busqueda{
  margin-top: 20px;
}

#img-nav-aditional {
  margin-top: 15px;
  height: 40px;
}
#boton-busqueda-1{
  border: var(--null);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: var(--colorBotones);
}
#boton-busqueda-2 {
  border: var(--null);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colorBotones);
}

#texto{
  margin-top: 20px;
  font-size: var(--text-small);
}
#etiqueta-texto{
  font-size: var(--text-small); 
}


footer{
  display: var(--caja-flexible);
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--colorBotones);
  flex-direction: var(--vertical);
}

#sub-footer-1{
  align-items: flex-start;
  border-bottom: 1px solid rgba(230, 228, 228, 0.925);
}
.texto-footer{
  margin: 20px;
  color: rgba(124, 123, 123, 0.925) ;
}
.texto-footer-2{
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgba(124, 123, 123, 0.925) ;
}
#sub-footer-2{
  display: var(--caja-flexible);
  flex-direction: var(--horizontal);
  justify-content: space-around;
  margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
  #icono-buscador-lupa {
    margin-left: 0px !important;
    width: 80px;
  }
  #icono-buscador-micro {
    margin-right: 0px !important;
    width: 80px;
  }
}
